<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FGP2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FGP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FGP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FGP2.Properties.Settings>
            <setting name="Product_Key" serializeAs="String">
                <value />
            </setting>
            <setting name="Tester" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="Build_Date" serializeAs="String">
                <value>20150305</value>
            </setting>
            <setting name="Activation_Date" serializeAs="String">
                <value />
            </setting>
            <setting name="Prompt_On_Exit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Wipe_Pad_On_Exit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Entropy_Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="Export_Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="Key_Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="Initial_Run" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="User_Name" serializeAs="String">
                <value />
            </setting>
        </FGP2.Properties.Settings>
        <FGP.Properties.Settings>
            <setting name="Product_Key" serializeAs="String">
                <value />
            </setting>
            <setting name="User_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Initial_Run" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Key_Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="Export_Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="Entropy_Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="Wipe_Pad_On_Exit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Prompt_On_Exit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Activation_Date" serializeAs="String">
                <value />
            </setting>
            <setting name="Tester" serializeAs="String">
                <value>123</value>
            </setting>
        </FGP.Properties.Settings>
    </userSettings>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <applicationSettings>
        <FGP.Properties.Settings>
            <setting name="Build_Date" serializeAs="String">
                <value>20150305</value>
            </setting>
        </FGP.Properties.Settings>
    </applicationSettings>
</configuration>
